.timer-container{
    border: 1px solid #4A628A;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem;
    margin-left: 10%;
    width: 15rem;
    background-color: #B7B7B7;
    filter: drop-shadow(0px 2px 8px #4A628A);
}
.timer-display{
    border: 1px solid black;
    border-radius: 0.5rem;
    text-align: center;
    font-size: x-large;
    width: 14rem;
    font-weight: bold;
}
.timer-buttons{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
}

.timer-title{
    color: #0B2F9F;
    font-weight: bold;
}