.animation-container{
    border: 1px solid #DBD3D3;
    height: 600px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: auto;
    text-align: center;
    align-items: center;
    overflow: auto;
}

.animation-field{
    height: 500px;
    width: 700px;
    border: 1px solid #546;
    border-radius: 5px;
    margin: 10px;
    background-image: url("../pic/640-natural-bamboo-wood-texture.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-self: center;
    filter: drop-shadow(0px 2px 8px #4A628A);
}

.control-btn button{
    margin-top: 1%;    
    margin-left: 0.5%;
}

.ball{
    border: 1px solid#795757;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #D2E0FB;
    background-image: none;
    background-size: cover;
    background-position: center;
    position: relative;
}

.basketball{
    background-image: url("./basketball-147794_640.png");
}

.football{
    background-image: url("../pic/football-157930_640.png");
}

.voleyball{
    background-image: url("../pic/volleyball-25782_640.png");}

.human{
    background-image: url("../pic/stdempimg.png");
}  

.cartoon{
    background-image: url("../pic/download1.png");
}

.logo{
    background-image: url("../pic/Untitled.png");
}
.control button{
    margin: 0.2rem;
}