.add-container{
    border: 1px solid #B9E5E8;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem;
    width: 30rem;
    background-color: white;
    filter: drop-shadow(0px 2px 8px #4A628A);
}

.add-variables{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.add-display{
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    
}

.add-title{
    color: #0B2F9F;
    font-weight: bold;
}